* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  counter-reset: item -1 section -1;
}

footer {
  margin: 1%;
  text-align: center;
  font-size: 15px;
}

footer a {
  color: #799794;
}

h1 {
  color: #00897b;
  font-size: 110px;
}

h2 {
  color: #54706d;
  font-size: 55px;
}

h3 {
  color: #98b4b2;
  font-size: 40px;
}

p {
  color: #799794;
  font-size: 20px;
}

nav {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
}

.navbar-toggle {
  transition: ease-in-out 0.4s;
}

.nav-logo {
  position: absolute;
  width: 60px;
  height: auto;
  left: 20px;
  top: 8px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 35%;
  align-items: center;
  margin-left: 70px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}

.nav-links li a {
  color: #bfbfbf;
}

.nav-links li a:hover {
  color: #00897b;
}

.nav-links li a::before {
  font-size: 18px;
  color: #00897b;
  content: "[" counter(item) "] ";
  counter-increment: item;
}

.nav-links div a {
  color: #00897b;
}

.resume-button {
  position: absolute;
  right: 20px;
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #00897b;
  border-radius: 3px;
}

.resume-button:hover {
  background: #293937;
  opacity: 0.5;
}

.burger {
  display: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #00897b;
  margin: 5px;
  transition: all 0.3s ease;
}

.side-element {
  writing-mode: vertical-lr;
  width: 50px;
  letter-spacing: 2px;
}

.side-element a {
  text-decoration: none;
  color: #bfbfbf;
}

.side-element a:hover {
  color: #00897b;
}

.line-left {
  position: fixed;
  bottom: 0;
  left: 54px;
  width: 1px;
  height: 15%;
  content: "\a0";
  background-color: #bfbfbf;
}

.line-right {
  position: fixed;
  bottom: 0;
  right: 52px;
  width: 1px;
  height: 15%;
  content: "\a0";
  background-color: #bfbfbf;
}

.left-elements {
  position: fixed;
  left: 40px;
  right: auto;
  bottom: 18%;
  font-size: 25px;
}

.right-elements {
  position: fixed;
  left: auto;
  right: 40px;
  bottom: 18%;
  font-size: 18px;
}

.fa:hover {
  color: #00897b;
}

#home {
  height: 100%;
}

#home a {
  position: absolute;
  color: #00897b;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

#learn-more-button {
  color: #00897b;
  border: 2px solid #00897b;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

#learn-more-button:hover {
  background: #293937;
  opacity: 0.5;
}

.arrow {
  border: solid #00897b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#home-text {
  position: absolute;
  left: 0px;
  padding-top: 10%;
  padding-left: 17%;
  padding-right: 17%;
}

#home-text h2 {
  padding-left: 4px;
}

#home-text p {
  padding-left: 5px;
  padding-top: 17px;
}

#canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sections {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.sections h3::before {
  font-size: 35px;
  color: #00897b;
  content: "[" counter(section) "] ";
  counter-increment: section;
}

#about-me h3 {
  padding-bottom: 5%;
}

#about-me-container {
  display: flex;
}

#about-me-text {
  padding-top: 2.5%;
  padding-right: 3%;
  text-align: left;
}

.paragraph {
  padding-bottom: 20px;
}

#about-me-text ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

#about-me-text li {
  list-style: none;
  color: #799794;
  font-size: 17px;
}

#about-me-text li::before {
  font-size: 20px;
  color: #00897b;
  content: "🢒 ";
}

#about-me-photo {
  filter: drop-shadow(30px 10px 4px rgba(84, 88, 88, 0.05));
}

#about-me-photo img {
  width: 380px;
  height: auto;
}

#my-projects {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: 410px 410px 410px;
  gap: 2.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.project-container a {
  text-decoration: none;
}

.project {
  border-radius: 5px;
  background-color: #303030;
  width: 100%;
  height: 300px;
}

.project ol {
  float: right;
  display: flex;
  list-style: none;
}

.project:hover {
  background-color: #3a3a3a;
}

.project-icon {
  font-size: 30px;
  padding-top: 12px;
  padding-right: 15px;
}

.project-icon a {
  color: #bfbfbf;
}

.project-title {
  text-align: left;
  color: #98b4b2;
  font-size: 25px;
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
}

.project-desc {
  font-size: 18px;
  text-align: left;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.project-tools {
  color: #667977;
  display: flex;
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
}

.project-tools li {
  padding-right: 10px;
  list-style: none;
}

/* #my-work {
} */

#contact-me {
  text-align: center;
}

#contact-me p {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 5%;
}

#contact-me a {
  color: #00897b;

  font-size: 30px;
  text-decoration: none;
  border: 2px solid #00897b;
  border-radius: 3px;
  padding: 20px;
}

#contact-me a:hover {
  background: #293937;
  opacity: 0.5;
}

.social-bottom {
  margin-top: 20%;
  margin-bottom: 2%;
  letter-spacing: 10px;
  font-size: 25px;
  display: none;
}

.social-bottom a {
  text-decoration: none;
}

@media screen and (max-width: 1850px) {
  .nav-links {
    width: 36%;
  }
}

@media screen and (max-width: 1750px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 50px;
  }

  .nav-links {
    width: 37%;
  }

  #about-me-photo img {
    width: 330px;
  }
}

@media screen and (max-width: 1650px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 18px;
  }

  .nav-links {
    width: 40%;
  }

  #home-text {
    padding-top: 13%;
    padding-left: 20%;
  }

  #about-me-photo img {
    width: 300px;
  }

  .project-container {
    grid-template-columns: 350px 350px 350px;
  }
}

@media screen and (max-width: 1550px) {
  .nav-links {
    width: 43%;
  }

  #about-me-photo img {
    width: 280px;
  }
}

@media screen and (max-width: 1450px) {
  h1 {
    font-size: 85px;
  }

  h2 {
    font-size: 42px;
  }

  .nav-links {
    width: 48%;
  }

  .side-element {
    width: 40px;
  }

  .left-elements {
    left: 35px;
  }

  .right-elements {
    right: 35px;
  }

  .line-left {
    left: 50px;
  }

  .line-right {
    right: 47px;
  }

  #about-me-photo img {
    width: 270px;
  }

  .project-container {
    grid-template-columns: 300px 300px 300px;
  }
}

@media screen and (max-width: 1350px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 17px;
  }

  .nav-links {
    width: 53%;
  }

  #home-text {
    padding-top: 16%;
  }

  #about-me-container {
    display: block;
  }

  #about-me-photo {
    margin-top: 5%;
    text-align: center;
  }

  .project-container {
    grid-template-columns: 380px 380px;
  }
}

@media screen and (max-width: 1250px) {
  .nav-links {
    width: 57%;
  }

  .project-container {
    grid-template-columns: 320px 320px;
  }

  #contact-me p {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 37px;
  }

  .nav-links {
    width: 62%;
  }

  .side-element {
    width: 30px;
  }

  .left-elements {
    left: 25px;
  }

  .right-elements {
    right: 30px;
  }

  .line-left {
    left: 40px;
  }

  .line-right {
    right: 42px;
  }

  .project-container {
    grid-template-columns: 300px 300px;
  }
}

@media screen and (max-width: 1050px) {
  .nav-links {
    width: 67%;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 34px;
  }

  .side-element {
    display: none;
  }

  .social-bottom {
    display: block;
  }

  .project-container {
    grid-template-columns: 280px 280px;
  }

  #contact-me p {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 100%;
    top: 80px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    padding-bottom: 20%;
  }

  .nav-links li {
    height: 80%;
    opacity: 0;
  }

  .resume-button {
    bottom: 125px;
    left: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    text-align: center;
    opacity: 0;
  }

  .burger {
    display: block;
  }
  
  #about-me-text li {
    font-size: 13px;
  }

  .project-container {
    grid-template-columns: 380px;
    padding-bottom: 200px;
  }

  #contact-me p {
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 10%;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
