* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  counter-reset: item -1 section -1;
}

footer {
  margin: 1%;
  text-align: center;
  font-size: 15px;
}

footer a {
  color: #799794;
}

h1 {
  color: #00897b;
  font-size: 110px;
}

h2 {
  color: #54706d;
  font-size: 55px;
}

h3 {
  color: #98b4b2;
  font-size: 40px;
}

p {
  color: #799794;
  font-size: 20px;
}

nav {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar-toggle {
  transition: ease-in-out 0.4s;
}

.nav-logo {
  width: 60px;
  height: auto;
  padding-top: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
}

.nav-links li {
  padding-top: 5px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}

.nav-links li a {
  color: #bfbfbf;
}

.nav-links li a:hover {
  color: #00897b;
}

.nav-links li a::before {
  font-size: 18px;
  color: #00897b;
  content: "[" counter(item) "] ";
  counter-increment: item;
}

.nav-links div a {
  color: #00897b;
}

.resume-button {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #00897b;
  border-radius: 3px;
  margin-left: 50%;
}

.resume-button:hover {
  background: #293937;
  opacity: 0.5;
}

.side-element {
  writing-mode: vertical-lr;
  width: 50px;
  letter-spacing: 2px;
}

.side-element a {
  text-decoration: none;
  color: #bfbfbf;
}

.side-element a:hover {
  color: #00897b;
}

.line-left {
  position: fixed;
  bottom: 0;
  left: 54px;
  width: 1px;
  height: 15%;
  content: "\a0";
  background-color: #bfbfbf;
}

.line-right {
  position: fixed;
  bottom: 0;
  right: 52px;
  width: 1px;
  height: 15%;
  content: "\a0";
  background-color: #bfbfbf;
}

.left-elements {
  position: fixed;
  left: 40px;
  right: auto;
  bottom: 18%;
  font-size: 25px;
}

.right-elements {
  position: fixed;
  left: auto;
  right: 40px;
  bottom: 18%;
  font-size: 18px;
}

.fa:hover {
  color: #00897b;
}

#home {
  height: 100%;
}

#home a {
  position: absolute;
  color: #00897b;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

#learn-more-button {
  color: #00897b;
  border: 2px solid #00897b;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
}

#learn-more-button:hover {
  background: #293937;
  opacity: 0.5;
}

.arrow {
  border: solid #00897b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#home-text {
  position: absolute;
  left: 0px;
  padding-top: 10%;
  padding-left: 17%;
  padding-right: 17%;
}

#home-text h2 {
  padding-left: 4px;
}

#home-text p {
  padding-left: 5px;
  padding-top: 17px;
}

#canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sections {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.sections h3::before {
  font-size: 35px;
  color: #00897b;
  content: "[" counter(section) "] ";
  counter-increment: section;
}

#about-me h3 {
  padding-bottom: 5%;
}

#about-me-container {
  display: flex;
}

#about-me-text {
  padding-top: 2.5%;
  padding-right: 3%;
  text-align: left;
}

.paragraph {
  padding-bottom: 20px;
}

#about-me-text ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

#about-me-text li {
  list-style: none;
  color: #799794;
  font-size: 17px;
}

#about-me-text li::before {
  font-size: 20px;
  color: #00897b;
  content: "🢒 ";
}

#about-me-photo {
  max-width: 100%;
  filter: drop-shadow(30px 10px 4px rgba(84, 88, 88, 0.05));
}

#my-projects {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project-container a {
  text-decoration: none;
}

.project {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #303030;
  width: 310px;
  height: 300px;
}

.project ol {
  float: right;
  display: flex;
  list-style: none;
}

.project:hover {
  background-color: #3a3a3a;
}

.project-icon {
  font-size: 30px;
  padding-top: 12px;
  padding-right: 15px;
}

.project-icon a {
  color: #bfbfbf;
}

.project-title {
  text-align: left;
  color: #98b4b2;
  font-size: 25px;
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
}

.project-desc {
  font-size: 18px;
  text-align: left;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.project-tools {
  color: #667977;
  display: flex;
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
}

.project-tools li {
  padding-right: 10px;
  list-style: none;
}

/* #my-work {
} */

#contact-me {
  text-align: center;
}

#contact-me p {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 5%;
}

#contact-me a {
  color: #00897b;

  font-size: 30px;
  text-decoration: none;
  border: 2px solid #00897b;
  border-radius: 3px;
  padding: 20px;
}

#contact-me a:hover {
  background: #293937;
  opacity: 0.5;
}
